.container {
  display: flex;

  .list {
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    flex-grow: 1;
  }

  .tree {
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    flex-grow: 4;
  }
}

