.header {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 0 20px;
  position: fixed;

  display: flex;
}

.sider {
  box-sizing: border-box;
  width: 200px;
  height: calc(100vh);
  position: fixed;
  top: 64px;
  background-color: #fff;
}

.breadcrumb {
  box-sizing: border-box;
  width: 100%;
  height: 52px;
  padding: 16px 0 16px 32px;

  position: fixed;
  top: 64px;
  left: 200px;

  background-color: #f0f2f5;
}

.content {
  position: relative;
  margin-top: 116px;
  margin-left: 200px;

  box-sizing: border-box;
  width: calc(100vw) - 200px;
  height: calc(100vh) - 116px;
  padding: 0 16px 0 16px;
}