@import "~antd/dist/antd.css";

html, body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

.sider {
  height: 100vh;
  position: fixed;
  left: 0;
  overflow: auto;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, .3);
}

.content {
  margin: 16px;
  overflow: initial;
  background: #ffffff;
}
